<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LocalGlobalPackages" value="C:\Users\YakhYa\.nuget\packages" />
    <add key="VisualStudioOffline" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages" />
    <add key="DotnetLibraryPacks" value="C:\Program Files\dotnet\library-packs" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="C:\Users\YakhYa\.nuget\packages" />
  </config>
</configuration>
